@import 'colors'
@import 'normalize'

.App
    background: $white
    display: flex
    flex-direction: column
    font-family: 'Baloo Tamma 2', cursive

.header
    display: flex
    align-self: center
    justify-content: center
    border-bottom: 2px solid $gray

    .logo
        display: flex
        align-items: center;

    .header__logo
        padding: 5px
        height: 35px
